.all-stories {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.stories-posts-container {
  width: 65%;
  margin: auto;
}

.slick-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

@media screen and (max-width: 576px) {
  .all-stories {
    width: 85%;
    margin: auto;
  }
  .stories-posts-container {
    width: 100%;
  }
}

.oops-error {
  width: 560px;
  height: 274px;
  margin-bottom: 48px;
}

.wrong-error {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #262626;
}
.something-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.try-again-btn {
  width: 127px;
  height: 48px;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-family: 'roboto';
  background: #4094ef;
  border-radius: 12px;
}
