.post-details {
  border: 1px solid #dbdbdb;
  width: 100%;
  list-style-type: none;
  margin-bottom: 25px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid brown;
  margin-left: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 16px;
}
.comment-item-value {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.post-image {
  width: 100%;
  height: 800px;
}

.user-details-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-start;
}

.user-username {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #262626;
}

.like-btn {
  background: none;
  border: none;
  outline: none;
  margin-right: 18px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.post-details-container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  padding: 20px;
}

.like-icon {
  font-size: 22px;
  color: #262626;
}

.like {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  margin-bottom: 8px;
}

.caption {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
  color: #262626;
}

.date {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
  margin-top: 8px;
}

.comment {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 5px;
  line-height: 18px;
  color: #262626;
}

@media screen and (max-width: 576px) {
  .post-image {
    height: 400px;
    width: 100%;
  }
}
