* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.login-container {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.website-login-image {
  width: 500px;
}

.website-logo {
  width: 95px;
}
.form-container {
  width: 456px;
  height: 458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fefeff;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  border-radius: 8px;
}
.website-login-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 12px;
  color: #262626;
}
.label {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #262626;
}
.user-input {
  background: #eeeeee;
  border-radius: 2px;
  width: 360px;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  height: 40px;
}
.label-input-container {
  margin-top: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

.login-button {
  margin-top: 35px;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  background-color: #4094ef;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  width: 360px;
}

.error-msg {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ef4444;
  margin-top: 8px;
}

@media screen and (max-width: 576px) {
  .login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .website-login-image {
    display: none;
  }
  .login-container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .form-container {
    display: flex;
    width: 100%;
    background: transparent;
    box-shadow: none;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
  }
  .user-input {
    width: 312px;
    background: #e5e5e5;
  }
  .login-button {
    width: 312px;
    cursor: pointer;
    height: 40px;
    outline: none;
    border: none;
  }
}
