.user-story-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.username {
  font-size: 13px;
  color: #262626;
  font-family: 'Roboto';
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .user-story-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .username {
    font-size: 12px;
    color: #262626;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
  }
  .link {
    margin-right: 10px;
  }
}

.list {
  list-style-type: none;
}
